.container {    
    display: grid;
    display: -ms-grid;     
    -ms-grid-columns: 100px 0px 100px 0px 100px 0px;
    -ms-grid-rows: 100px 0px 100px 0px 100px 0px 100px;
    grid-auto-rows: 100px 0px 100px 0px 100px 0px 100px;
    grid-template-columns: 100px 0px 100px 0px 100px 0px;       
    border-radius: 5px;
    color: #fff;
    
}
.column {
    background-color: rgb(10, 1, 1);
    color: rgb(247, 240, 242);
    border-radius: 5px;
    padding: 10px;
    font-size: 150%
    
}
.a {
    grid-row: 1;
    /* grid-column: 5; */
    grid-column-start: 1;
    grid-column-end: 7;    
    -ms-grid-row: 1;
    /* -ms-grid-column: 5;  */
    -ms-grid-column-span: 7;
    text-align: center; 
    border: 1px red solid;  
    padding: 35px 0; 
} 
.b {
    grid-row: 3;
    grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.c {
    grid-row: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.d {
    grid-row: 3;
    grid-column: 5;
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.e {
    grid-row: 5;
    grid-column: 1;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.f {
    grid-row: 5;
    grid-column: 3;
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.g {
    grid-row: 5;
    grid-column: 5;
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.h {
    grid-row: 7;
    grid-column: 1;
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.j {
    grid-row: 7;
    grid-column: 3;
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 
.k {
    grid-row: 7;
    grid-column: 5;
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    text-align: center;
    border: 1px red solid;
    padding: 35px 0; 
} 

